/*

Accent Colours: 

Yellow = #F5DC00
Green = #52CC00
Purple = #52287B
Teal = #00B2CA
Orange= #FF6933

*/


:root{
  --accent-yellow: #F5DC00;
  --accent-green: #52CC00;
  --accent-purple: #52287B;
  --accent-orange: #FF6933;
  --accent-teal: #00B2CA;
}

.solid-divider {
  box-shadow: none;
  border-top: solid 1px lightgrey;
  width: 90%;
  margin-bottom: 20px;
}


/* Burger Menu Styling */
.burger-menu {
  display: none;
  justify-self: left;
}

#burger-logo{
  filter: invert(1);
}


/* Navigation Styling */
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: auto;
  width: auto;
  background-color: #be520aa7;
}

.headerSection {
  
  min-height: 100vh;
  display: block;
  background-color: #b46a16;
  background-size: cover;
  overflow: hidden;
  position: relative;
  background-image: url('images/Violin\ by\ the\ river.png');
}

.header-background {
  z-index: 0;
  position: absolute;
  object-fit: cover;
  object-position: right 0 bottom -100px;
  width: 100%;
  height: 100%;
}

.header-banner {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

#main-title {
  text-align: center;
  background-color: #fdb123c9;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}

.header-left {
  width: 300px;
  display: block;
  background: linear-gradient(-45deg,#52287B, #723aaa 50%) ;
  background-image: url("images/pexels-anni-roenkae-4175060.jpg");
  background-size: cover;

}

.header-right {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  background-color: none;
  min-height: 100%;
}

body {
  background-color: none;
  background-size: cover;
  margin: 0;
}

.bodycontent{
  padding: 5px;
  background: linear-gradient(-45deg,#01334e, #00B2CA 90%);
}

.logo {
  display: block;
  width: 10%;
  margin: 0 auto;
}





/* fonts */

.centerText{
  text-align: center;
  color: #fff;
  font-size: 40px;
}

#main-title {
  color: #333;
}

#slogan{
  text-align: center;
  font-family: 'legault';
  color: #fff;
  font-size: 50px;
}

.body-heading {
  padding: 20px;
  text-align: center;
  color: #333;
}

@font-face {
  font-family: "legault";
  src: url("fonts/LegaultStd.otf");
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

h2 {
  font-family: 'Merriweather', serif;
}

h3 {
  font-family: 'Merriweather', serif;
}

p {
  font-family: 'Merriweather', serif;
}

button {
  font-family: 'Roboto', sans-serif;
}

.stroked-text {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

/* fonts end */

#nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  
}

nav li {
  margin: 10px 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 700;
}

  

/*MODAL START*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modalContent-inner {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 90%;
}


.modalContent {
  position: relative;
  border-radius: 10px;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.modal-left {
  min-width: 50%;
}

.modal-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


#eventTitle {
  padding-top: 0px;
  margin-top: 0px;
  width: 90%;
}

#eventImage {
  width: 80%;
}

#eventImage-caption {
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*MODAL END*/


/* CONCERT INFO WIDGET */

/* Widget grid */

.widget-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.widget {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  color: #333;
}

/* Set up the left part of the widget */
.widget-left {
  flex: 1;
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5c800;
  background-size: cover;
}

/* color classes for widget */

.green {
  background-color: #52CC00;
}

.orange {
  background-color: #FF6933;
}

.teal {
  background-color: #00B2CA;
}

.yellowish {
  background:  linear-gradient(320deg,#f5c800, #ffde4a);
}

/* Set up the right part of the widget */
.widget-right {
  flex: 1;
  min-height: 100%;
  width: 100%;
  background-image: url("images/Cranberrythumbnail.png");
  background-size: cover;
  background-position: center;
}

/* Style the title, description, and button */
.widget-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  min-height: 3em;
}

ul.widget-shortInfo {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.widget-shortInfo li {
  margin-bottom: 5px;
}

ul.widget-shortInfo li:last-child{
  margin-bottom: 50px;
}



.widget-buttonRow {
  display: flex;
  gap: 20px;
}

.widget-button {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight:700;
  text-decoration: none;
  color: #fff;
  background-color: #52287b;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
}

.widget-infoButton {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight:700;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  display: block;
  border-radius: 5px;
  border-width: 0;
  transition: all 0.2s ease-out;
}

.hovered {
  background-color: #818181 !important; 
}


.viewIcon {
  width: 24px;
  filter: brightness(0) invert(1);
  pointer-events: none;
}


@media (max-width: 1100px) {
  .header-background {
    object-position: right 0 bottom 0;
  }
}

@media (max-width: 850px) {
  .widget-grid{
    grid-template-columns: repeat(2, 1fr);
  }

  .headerSection {
    flex-direction: column;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
  }

  #nav-links {
    display: none;
  }

  #nav-links.show {
    display: block;
  }

  .sidebar-nav-links {
    margin: 0;
  }

  .header-left {
    width: auto;
  }

}


@media (max-width: 480px) {
  .widget-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .modalContent-inner {
    flex-direction: column;
  }

  .modal-right{
    padding-top: 20px;
  }

}