/* Burger Menu Styling */
.burger-menu {
  display: none;
}

.burger {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px;
}

/* Navigation Styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: auto;
  width: 50%;
  background-color: #333;
}

.headerSection {
  
  min-height: 500px;
  display: flex;
  background-color: #2a9c4c70;
  background-size: cover;
}

.header-left {
  width: 300px;
  display: block;
}

.header-right {
  background-image: url('images/Violin\ by\ the\ river.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -100px ;
  flex: 1;
  background-color: #2935a770;
  min-height: 100%;
  background-size: cover;
}

body {
  background-color: #ccc;
  background-size: cover;
  margin: 0;
}

.bodycontent{
  padding: 5px;
}

.logo {
  display: block;
  width: 50%;
  margin: 0 auto;
}


/* fonts */

.centerText{
  text-align: center;
}

.headingMain {
  padding: 20px;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

h2 {
  font-family: 'Merriweather', serif;
}


h3 {
  font-family: 'Merriweather', serif;
}


p {
  font-family: 'Merriweather', serif;
}

button {
  font-family: 'Roboto', sans-serif;
}

nav ul {
  list-style: none;
  display: block;
  
}

nav li {
  margin: 10px 10px;

}

nav a {
  text-decoration: none;
  color: #fff;
  font-family: 'Merriweather', serif;
}

  

/*MODAL START*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modalContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*MODAL END*/


/* CONCERT INFO WIDGET */

/* Widget grid */

.widget-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.widget {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

/* Set up the left part of the widget */
.widget-left {
  flex: 1;
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(180, 236, 180);
  background-size: cover;
}



/* Set up the right part of the widget */
.widget-right {
  flex: 1;
  min-height: 100%;
  width: 100%;
  background-image: url("images/Cranberrythumbnail.png");
  background-size: cover;
  background-position: center;
}

/* Style the title, description, and button */
.widget-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  min-height: 3em;
}

ul.widget-shortInfo {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.widget-shortInfo li {
  margin-bottom: 5px;
}

ul.widget-shortInfo li:last-child{
  margin-bottom: 50px;
}



.widget-buttonRow {
  display: flex;
  gap: 20px;
}

.widget-button {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight:700;
  text-decoration: none;
  color: #fff;
  background-color: #52287b;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
}

.widget-infoButton {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight:700;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  display: block;
  border-radius: 5px;
  border-width: 0;
  transition: all 0.2s ease-out;
}

.hovered {
  background-color: #818181 !important; 
}


.viewIcon {
  width: 24px;
  filter: brightness(0) invert(1);
  pointer-events: none;
}


@media (max-width: 850px) {
  .widget-grid{
    grid-template-columns: repeat(2, 1fr);
  }

  .burger-menu {
    display: block;
    cursor: pointer;
  }

  nav ul {
    display: none;
  }

  .sidebar-nav-links {
    margin: 0;
  }

  }
  @media (max-width: 480px) {
    .widget-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }